

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Clase personalisada-->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

    @*<script type="text/javascript" src="Scripts/jquery-3.5.1.min.js"></script>*@
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="vendor/datatables/dataTables.fixedHeader.min.js"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled ocultar" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">



                    <!-- Content Row -->
                    <div class="row">

                        <!-- PESOS -->
                        <div class="col-xl-3 col-md-3 col-xs-6 mb-5 paneles">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Pesos</div>
                                            <div id="pesosCalculados" class="h5 mb-0 font-weight-bold text-gray-800">-</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- DOLARES -->
                        <div class="col-xl-3 col-md-3 col-xs-6 mb-5 paneles">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dolares</div>
                                            <div id="dolaresCalculados" class="h5 mb-0 font-weight-bold text-gray-800">-</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-4 ocultar paneles">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-2 col-md-6 mb-4 ocultar paneles">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 botones">

                            <button id="btnLeerPdf" type="button" class="btn btn-primary">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Leer Pagos
                            </button>
                            <button id="btnConsultarDolar" type="button" class="btn btn-info ocultar">
                                Consultar DOLAR
                            </button>
                            <button id="btnTotalizarDolares" type="button" class="btn btn-danger ocultar">
                                Calcular totalas
                            </button>
                            <button onclick="notEnable();" id="exportReport" class="d-none d-sm-inline-block btn btn-primary shadow-sm ocultar">
                                <i class="fas fa-download fa-sm text-white-50"></i> Generar Reporte
                            </button>
                        </div>

                        @*<div class="col-xl-2 col-sm-3">
                                <iframe width="140px" height="150px" src="https://www.dolarsi.com/cotizador/cotizadorDolarsiFull.php" frameborder="0" scrolling="0" allowfullscreen=""></iframe>
                            </div>*@

                    </div>

                    <!-- contentMensajes -->
                    <div class="row" id="contentMensajes">

                    </div>

                    <div class="row">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4 col-lg-12">
                            <div class="card-header py-3 ocultar">
                                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                            </div>
                            <div id="cabeceraTabla" class="row">
                                <div class="col-md-1 filtro" data-toggle="modal" data-target="#mofalFilter">
                                    <button type="button" class="btn btn-primary" title="Filtrar"><i class="fa fa-filter" aria-hidden="true"></i></button>
                                </div>
                                <div class="col-md-10" id="showHiddenCol">
                                    Mostrar/ocultar:
                                    <a class="toggle-vis" data-column="0">Nro Transacción</a> -
                                    <a class="toggle-vis" data-column="1">Ente</a> -
                                    <a class="toggle-vis" data-column="2">Nº Cliente</a> -
                                    <a class="toggle-vis" data-column="3">Nº CtaDebito</a> -
                                    <a class="toggle-vis" data-column="4">Fecha Vto</a> -
                                    <a class="toggle-vis" data-column="5">Cuota</a> -
                                    <a class="toggle-vis" data-column="6">Pdf</a> -
                                    <a class="toggle-vis" data-column="7">Tipo Comp</a>
                                    <a class="toggle-vis" data-column="10">Importe U$S</a>
                                    <a class="toggle-vis" data-column="11">Propiedad</a>
                                </div>

                            </div>
                            <div class="card-body dataTable">
                                <div class="table-responsive">
                                    <table class="table table-bordered stripe" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Nro Transacción</th>
                                                <th>Ente</th>
                                                <th>Nº Cliente</th>
                                                <th>Nº CtaDebito</th>
                                                <th>Fecha Vto</th>
                                                <th>Cuota</th>
                                                @*<th>Referencia</th>
                                                    <th>Concepto</th>*@
                                                <th>Pdf</th>
                                                <th>Tipo Comp</th>
                                                <th>Fecha Pago</th>
                                                <th>Importe $</th>
                                                <th>Importe U$S</th>
                                                <th>Propiedad</th>
                                            </tr>
                                        </thead>
                                        <tbody id="contenTabla">
                                        </tbody>

                                        @*Se agrega fila inferior a la tabla para poder filtrar en cada columna*@
                                        <tfoot>
                                            <tr>
                                                <th>Nro Transacción</th>
                                                <th>Ente</th>
                                                <th>Nº Cliente</th>
                                                <th>Nº CtaDebito</th>
                                                <th>Fecha Vto</th>
                                                <th>Cuota</th>
                                                @*<th>Referencia</th>
                                                    <th>Concepto</th>*@
                                                <th>Pdf</th>
                                                <th>Tipo Comp</th>
                                                <th>Fecha Pago</th>
                                                <th>Importe $</th>
                                                <th>Importe U$S</th>
                                                <th>Propiedad</th>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="mofalFilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filtros</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @*Filtros*@
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><strong>Importe $</strong></label>

                        <label class="col-sm-1 col-form-label">desde</label>
                        <div class="col-sm-4">
                            <input type="text" id="min" name="min" class="form-control" id="ImporteDesde" placeholder="$ 0">
                        </div>
                        <label class="col-sm-1 col-form-label">hasta</label>
                        <div class="col-sm-4">
                            <input type="text" id="max" name="max" class="form-control" id="Importehasta" placeholder="$ 0">
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Filtrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>

<script>

    //Variables generales
    var table = null;
    let colPath = -1;

    var reiniciarVariablesGrales = function () {
        //table = null;
        colPath = -1;
    };

    var consultarDolar = function () {

        $.ajax({
            url: 'https://apis.datos.gob.ar/series/api/series/?ids=168.1_T_CAMBIOR_D_0_0_26&limit=5000&format=json',
            type: 'GET',
            //data:{d: "2019-11-31"},

            // si la conexion es exitosa, ejecutará la función "respuesta", definida allí mismo.
            success: function (respuesta) {


                for (var i = 0; i < respuesta.data.length; i++) {
                    var fecha = respuesta.data[i][0];
                    var cotizacion = respuesta.data[i][1];

                    var date = new Date();
                    //var diaPresente = date.yyyymmdd();
                    var diaPresente = '2020-04-28'; //Ultimo día q actualizaron la web apis.datos.gob.ar (xq la pandemia)

                    //if (fecha == "2019-11-20") {
                    if (fecha == diaPresente) {
                        console.log(cotizacion);
                        break;
                    }
                }


            }, //fin function respuesta
            error: function (err) {

                if (err.status == 404) {
                    console.log("NO se encontro el recurso!");
                }

                //console.log("No se ha podido obtener la información");
            }
        });

    };

    var totalizarPesos = function () {
        let indexDolar = 9; //Posición de columna de importe en Pesos
        let totalDolares = 0;
        var table = $('#dataTable').dataTable().api()
        let valoresDolar = table.rows({ search: 'applied' }).data();
        valoresDolar.each(function (item) {
            totalDolares += item[indexDolar];
        });        
        let redondeo = parseFloat(totalDolares.toFixed(2));
        let formatAux = new Intl.NumberFormat("de-DE").format(parseFloat(redondeo));
        formatAux = '$  ' + formatAux;

        $('#pesosCalculados').text(formatAux);
    };

    var totalizarDolares = function () {
        let indexDolar = 10; //Posición de columna de importe en Dolares
        let totalDolares = 0;
        var table = $('#dataTable').dataTable().api()
        let valoresDolar = table.rows({ search: 'applied' }).data();
        valoresDolar.each(function (item) {
            totalDolares += item[indexDolar];
        });        
        let redondeo = parseFloat(totalDolares.toFixed(2));
        let formatAux = new Intl.NumberFormat("de-DE").format(parseFloat(redondeo));
        formatAux = 'U$S  ' + formatAux;

        $('#dolaresCalculados').text(formatAux);
    };

    var totalizarPagos = function () {
        totalizarPesos();
        totalizarDolares();
    };

    //var asignarClickPatk = function () {
    //    $('.pathPDF').off('click');
    //    $('.pathPDF').on('click', function () {            
    //        window.open('/Home/GetReport?path=' + this.innerHTML, "_blank"); 
    //    });
    //};

    var asignarClickPath = function (elem) {
        //elem.off('click');
        elem.on('click', function () {            
            window.open('/Home/GetReport?path=' + this.innerHTML, "_blank"); 
        });
    };

    var agregarFilaFilter = function () {
        
        // Setup - add a text input to each footer cell
        $('#dataTable thead tr').clone(true).appendTo( '#dataTable thead' );
        $('#dataTable thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
 
            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    };

    var getCacheCotizacionHistoria = function () {
        $.ajax({
	        url: 'Home/GetCacheCotizacionHistoria/',
	        success: function(respuesta) {
                
	        },
            error: function (err) {

                if (err.status == 404) {
                    console.log("NO se encontro el recurso!");
                    //err.responseText
                }

            }
        });
    };

    var leerPdf = function () {
        //$(this).hide();

        reiniciarVariablesGrales();

        //Se eliminan las filas existentes
        $('#dataTable').DataTable().rows().remove().draw(false);

        $.ajax({
            url: 'Home/LeerPDF/',
            success: function (respuesta) {

                var lstMsj = respuesta.Mensajes.Lista;

                if (lstMsj.length == 0) {

                    var t = $('#dataTable').DataTable();

                    //var t = $('#dataTable').DataTable();
                    t.rows().remove().draw(false);
                    respuesta.pagos.forEach(function (pago) {

                        let fp = pago.FechaVencimiento.replace("/Date(", "").replace(")/", "");
                        let aux_fechaVencimiento = new Date(parseInt(fp)).yyyymmdd();

                        let fpa = pago.FechaPago.replace("/Date(", "").replace(")/", "");
                        let aux_fechaPago = new Date(parseInt(fpa)).yyyymmdd();

                        //let array_fechaVencimiento = pago.FechaVencimiento.split('T')
                        //let aux_fechaVencimiento = array_fechaVencimiento.length > 1 ? array_fechaVencimiento[0] : pago.FechaVencimiento;
                        //
                        //let array_fechaPago = pago.FechaPago.split('T')
                        //let aux_fechaPago = array_fechaPago.length > 1 ? array_fechaPago[0] : pago.FechaPago;

                        t.row.add([
                            pago.NroTransaccion, //"00843607 (298)"
                            pago.Ente, //"Buenos Aires- Arba Inmobiliario"
                            pago.NroCliente, // 00101250028675"
                            pago.NroCtaDebito, //" 5063-29958/8"
                            aux_fechaVencimiento, // "2018-08-13T00:00:00"
                            pago.Cuota, // " 004/18"
                            //pago.Referencia, // null
                            //pago.Concepto, // null

                            //pago.Path, // "D:\Norma\000   PAGOS\18-08 - Arba NO SE.pdf"
                            '<i class="fa fa-file-pdf" data-path="' + pago.Path + '" title="' + pago.Path + '"></i>',

                            pago.TipoComprobante, // 0
                            aux_fechaPago, // "2018-08-09T09:53:23"
                            pago.Importe, // 377.1
                            pago.ImporteDolar, // 377.1
                            fp.substr(3, 4),
                        ]).draw(true);
                    });

                    //Acciones luego de lectura de Pagos
                    callBackLeerPdf();

                } else {
                    limpiarMensajes();
                    procesarMensajes(lstMsj);
                    //lstMsj.forEach(function (msj) {
                    //    alert(msj.texto);
                    //});
                }

            },
            error: function (err) {

                if (err.status == 404) {
                    console.log("NO se encontro el recurso!");
                    //err.responseText
                }

                //console.log("No se ha podido obtener la información");
            }
        });
    };

    var notEnable = function () {
        alert("Todavía no esta disponible esta funcionalidad");
    }

    var callBackLeerPdf = function () {
        var table = $('#dataTable').DataTable();

        //Redibuja la tabla para ajustar ancho de columnas
        table.columns.adjust().draw();

        //asignarClickPatk();

        //console.log("2");

        totalizarPagos();

        //setTimeout(function () {
        //    var table2 = $('#dataTable').removeAttr('width').DataTable({
        //        scrollY: "300px",
        //        scrollX: true,
        //        scrollCollapse: true,
        //        paging: false,
        //        columnDefs: [
        //            { width: 200, targets: 0 }
        //        ],
        //        fixedColumns: true
        //    });
        //}, 1000);
    };

    $(document).ready(function () {

        //Se cargan los datos de la cotización histórica
        getCacheCotizacionHistoria();

        //Se resetean variables
        reiniciarVariablesGrales();

        // Setup - add a text input to each footer cell
        $('#dataTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');
        });

        table = $('#dataTable').DataTable({

            //Al momento de la creación de la fila en la tabla se le agrega un class a la columna 6 (Path)
            "createdRow": function (row, data, dataIndex) {

                //Si no se setio la columna referente al campo del path del pdf
                if (colPath == -1) {
                    for (var i = 0; i < row.cells.length; i++) {
                        var celda = row.cells[i];
                        var esColPath = celda.innerHTML.includes("data-path");

                        if (esColPath) {
                            colPath = i;
                            break;
                        }
                        
                    }
                }

                //Le agrega el puntero clasico de Link y el evento para el click a leer el pdf
                $($('td', row)[colPath]).addClass("pathPDF").addClass("pointer")
                                .on('click', function () {
                                    let ruta = $(this.innerHTML).data('path');
                                    window.open('/Home/GetReport?path=' + ruta, "_blank"); 
                                });

                row.cells[colPath] = row.cells[colPath];
                data[colPath] = "pepe";
                if (colPath == dataIndex) {
                    //this.innerHTML = "pepe";
                }
            },

            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] },
                { "sWidth": "25px", "aTargets": [6] },
                { "sWidth": "90px", "aTargets": [4, 8] },
                { "sWidth": "100px", "aTargets": [9, 10] },
                /*{ "sWidth": "10px", "aTargets": [0, 1] },*/                
                /*{ "sWidth": "80px", "aTargets": [2] },*/
            ],
            "bAutoWidth": false,

            //Fila inferior de la tabla con filtros sobre cada columna
            initComplete: function () {
                // Apply the search
                this.api()
                    .columns()
                    .every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
            },

            //Se configurar para el filtro
            orderCellsTop: true,
            fixedHeader: true
        });

        //Se ocultan columnas: NroTransaccion, Cliente, Nº CtaDebito, Tipo Comp, Propiedad
        table.columns( [ 0, 2, 3, 5, 7, 11 ] ).visible( false, false );
        table.columns.adjust().draw(false); // adjust column sizing and redraw

        $('a.toggle-vis').on( 'click', function (e) {
            e.preventDefault();

            // Get the column API object
            var column = table.column( $(this).attr('data-column') );

            // Toggle the visibility
            column.visible( ! column.visible() );
        } );

        

        //agregarFilaFilter();



        $('#btnConsultarDolar').click(consultarDolar);

        $('#btnTotalizarDolares').click(totalizarPagos);

        $('#btnLeerPdf').click(function(){
            leerPdf();
        });

        /* Custom filtering function which will search data in column four between two values */
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            var min = parseInt($('#min').val(), 10);
            var max = parseInt($('#max').val(), 10);

            var age = parseFloat(data[9]) || 0; // use data for the age column

            if (
                (isNaN(min) && isNaN(max)) ||
                (isNaN(min) && age <= max) ||
                (min <= age && isNaN(max)) ||
                (min <= age && age <= max)
            ) {
                return true;
            }
            return false;
        });

        

        // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').keyup(function () {
            table.draw();
            totalizarPagos();
        });

        leerPdf();
    });

</script>